TWITCH_BOT_USERNAME="example_bot"
TWITCH_BOT_OAUTH_TOKEN="oauth:gz1nsr4t5yt7che09r2zc04arod2qj"
TWITCH_BOT_DATABASE_URL="postgresql://<username>:<password>@<host>:5432/<dbname>?schema=twitch_bot&connection_limit=100"
